@font-face {
  font-family: 'roboto_bold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#roboto_bold") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'roboto_medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#roboto_medium") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'roboto_regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#roboto_regular") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'roboto_lightitalic';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/roboto-lightitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-lightitalic-webfont.svg#roboto_lightitalic") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'roboto_light';
  src: url("../fonts/roboto-ligh-webfont.eot");
  src: url("../fonts/roboto-ligh-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-ligh-webfont.woff2") format("woff2"), url("../fonts/roboto-ligh-webfont.woff") format("woff"), url("../fonts/roboto-ligh-webfont.ttf") format("truetype"), url("../fonts/roboto-ligh-webfont.svg#roboto_ligh") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'raleway_extrabold';
  src: url("../raleway-extrabold-webfont.eot");
  src: url("../fonts/raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold-webfont.woff2") format("woff2"), url("../fonts/raleway-extrabold-webfont.woff") format("woff"), url("../fonts/raleway-extrabold-webfont.ttf") format("truetype"), url("../fonts/raleway-extrabold-webfont.svg#raleway_extrabold") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'raleway_medium';
  src: url("../fonts/raleway-medium-webfont.eot");
  src: url("../fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium-webfont.woff2") format("woff2"), url("../fonts/raleway-medium-webfont.woff") format("woff"), url("../fontsraleway-medium-webfont.ttf") format("truetype"), url("../fonts/raleway-medium-webfont.svg#raleway_medium") format("svg");
  font-weight: normal;
  font-style: normal; 
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#wrapper {
  margin: 0;
}

h1 {
  font: 46px/35px "raleway_extrabold";
}

h2 {
  font: 18px/25px "raleway_medium";
}

h3 {
  font: 18px/5px "roboto_bold";
}

ul, li {
  letter-spacing: 2px;
  font: 14px/20px "roboto_regular";
}

p {
  color: #6c6c6c;
  font: 14px/22px "roboto_regular";
}

label {
  font: 20px/18px "roboto_regular";
}

input {
  font: 18px/20px "roboto_lightitalic";
}

a {
  font: 20px/20px "roboto_regular";
}

/* HEADER */
#header {
  width: 100%;
  position: relative;
  padding: 40px 360px 910px;
  background: url("../images/main_image.png") no-repeat;
}
.background-image {
  width: 100%;
  display: inline-block;
}
.background-image img {
  float: left;
}

/* TOGGLE-MENU */
.menu-container {
  float: right;
}
.menu-container ul {
  margin: 55px 0;
  float: right;
  overflow: hidden;
}
.menu-container li {
  padding: 0 10px 0 0;
  display: inline-block;
  border-right: 2px solid #fff;
  transform: skewx(-20deg);
  margin-left: 5px;
}
#transform {
  border-right: 0;
}
.menu-container a {
  color: #fff;
  text-decoration: none;
  transform: skewx(20deg);
  display: block;
}
.menu-container a:hover {
  color: #6556df;
}


/* ABOUT US */
#about_us {
  width: 100%;
}
header {
  text-align: center;
}
.containt {
  width: 62%;
  padding: 50px 0;
  margin: auto;
}
.images {
  margin:0 50px 50px;
  float: left;
}
.text {
  padding: 0 0 0 25px;
  overflow: hidden;
}
.text img {
  margin: 0 0 0 45px;
  float: right;
  display: block;
}
.text ul{
  list-style: square;
  margin: 0 0 0 20px;
}
.text li {
  padding-left: inherit;
  letter-spacing: 2px;
  line-height: normal;
  color: #6c6c6c;
}

/* USES */
#uses {
  margin: auto;
  background: #f0f0f0;
}
.who_uses_seotoaster{
  width: 62%;
  margin: auto;
}
.uses-box {
  width: 33%;
  padding: 0 72px;
  display: inline-block;
  margin: auto
}
.uses-box img {
  margin: -18px 0 0 -55px;
  display: block;
  float: left;
}
.who_uses {
  margin: 120px 0;
}
.center img {
  margin: 85px 15px;
  display: block;
}
.uses-box:last-child img {
  float: right;
  margin: -25px -55px 0 0;
}
.uses-box h3 {
  line-height: 1;
}
.uses-box p {
  line-height: 20px;
}
.uses-box:last-child h3 {
  margin: 0 0 23px 87px;
  float: right;
  line-height: 1;
}
.uses-box:last-child p {
  text-align: right;
}

/* CONTACT FORM */
#contact {
  margin: auto;
  padding: 70px 0;
  text-align: center;
}
.form {
  margin: 0;
}
.commentform {
  width: 50%;
  margin: 0 auto;
}
label {
  color: #757575;
}
form input, form textarea {
  width: 50%;
  padding: 15px 20px;
  margin: 0px 0 15px;
  border: 1px #e7e7e7 solid;
  color: #dbdbdb;
  background-color: #f8f8f8;
  box-sizing: border-box;
  outline: none;
  font: 18px/15px "roboto_lightitalic";
}
button {
  width: 20%;
  padding: 15px 20px;
  margin: 0px 0 15px;
  border: 1px #e7e7e7 solid;
  color: #fff;
  background-color: #6556df;
  border-radius: 5px;
  font: 20px/18px "roboto_regular";
}
button:hover {
  background-color: #8b7ee7;
}


/* Responsive */
@media screen and (max-width: 1440px) {
  #header {
    padding: 40px 250px 400px;
  }
  .containt, .who_uses_seotoaster {
    width: 80%;
  }
  .uses-box {
    padding: 0 65px;
  }
  .commentform {
    width: 70%;
  }
}

@media screen and (max-width: 1350px){
  .uses-box {
    padding: 0 58px;
  }
  /* TOGGLE-MENU */
  .menu-container ul {
    margin: 0;
  }
  .menu-container {
    top: 0;
    position: fixed;
    z-index: 100;
    width: 155px;
    right: -155px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-container.menu-open {
    right: 0px;
  }
  .toggle-menu {
    top: 35px;
    right: 15px;
    height: 40px;
    margin: 0 20px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    padding: 10px 10px;
    background: #eff1f6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .toggle-menu .icon-bar {
    height: 3px;
    display: block;
    width: 30px;
    opacity: 1;
    background: #000;
    margin-bottom: 5px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .toggle-menu.active {
    right: 135px;
  }
  .toggle-menu .icon-bar:last-child {
    margin-bottom: 0;
  }
  .toggle-menu .icon-bar.hide-closed {
    transition-duration: 0.4s;
  }
  .toggle-menu.active {
    padding-top: 18px;
    height: 40px;
  }
  .toggle-menu.active .icon-bar {
    margin-bottom: -3px;
  }
  .toggle-menu.active .skew-clock {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .toggle-menu.active .hide-closed {
    opacity: 0 !important;
  }
  .toggle-menu.active .skew-counter {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-text {
   top: 0;
   right: 100px;
   position: fixed;
   color: #000;
   font-size: 20px;
   line-height: 75px;
   text-transform: uppercase;
 }
 .menu {
  width: 100%;
  margin: 0 0 30px 0;
  list-style: none;
}
.menu li {
  width: 100%;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.menu-container li.active a, .menu-container a:hover {
  color: #6556df;
  padding: 10px;
  background: #eff1f6;
}
.menu li a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.menu li a:hover {
  padding: 10px;
}
.menu li .current-menu-item {
  color: #6556df;
}
.menu-container li {
  padding: 0;
  border-radius: 0;
}
.uses-box:last-child h3 {
  margin: 0;
  float: none;
}
}

@media screen and (max-width: 1024px) {
  #header {
    padding: 40px 150px 400px;
  }
  .images {
    margin: 0;
  }
  .who_uses_seotoaster {
    text-align: center;
  }
  .uses-box {
    width: 60%;
  }
  .uses-box img {
    margin: 0;
    display: inline-block;
    float: none;
  }
  .who_uses {
    margin: 50px 0;
  }
  .images {
    margin: 0 30px 25px 0;
  }
  .text {
    padding: 0;
    overflow: inherit;
  }
  .uses-box:last-child img {
    margin: 0;
    float: none;
  }
  .uses-box:last-child h3 {
    margin: 0;
    line-height: 2;
    float: none;
  }
  .uses-box:last-child p {
    text-align: center;
  }
  .commentform {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #header {
    padding: 40px 150px;
  }
  .containt, .who_uses_seotoaster {
    width: 70%;
  }
  .images {
    margin: 0 0 40px;
    text-align: center;
    float: none;
  }
  .images img {
    width: 90%;
  }
  .uses-box {
    padding: 0 25px;
  }
  .text img {
    float: none;
  }
}

@media screen and (max-width: 425px) {
  #header {
    padding: 40px;
  }
  .containt, .who_uses_seotoaster {
    width: 100%;
    padding: 0 15px 15px;
  }
  .text {
    padding: 0;
  }
  .text img {
    margin: auto;
    float: none;
  }
  #contact {
    padding: 0;
  }
  button {
    width: 30%;
  }
}

@media screen and (max-width: 375px) {
  .images img {
    width: 95%;
  }
  .uses-box {
    padding: 0;
  }
  form input, form textarea {
    width: 70%;
  }
  button {
    width: 40%;
  }
}